<div class="container text-center mt-5 col-lg-6 bg-light p-5">
    <h2>{{count}}</h2>

    <div class="row mt-5">
  
        <div class="col-lg-4 mt-2">
          <button class="btn col-lg-12 col-12 btn-dark" (click)="reset()">Reset</button>
        </div>
    
        <div class="col-lg-4 mt-2">
            <button class="btn col-lg-12 col-12 btn-success" (click)="increment()">Increase Count</button>
          </div>
    
          <div class="col-lg-4 mt-2">
            <button class="btn col-lg-12 col-12 btn-danger" (click)="decrement()">Decrease Count</button>
          </div>
    </div>
</div>



